// Cores
$roxo: #BA38ED;
$rosa-vermelho: #D20D53;
$azul-claro: #12CFFE;
$azul-escuro: #09313A;
$verde-limao: #B4E613;
$cinza-claro: #F5FAFC;
$cinza: #DFDFDF;
$preto: #000;
$cinza-medio: #6E6E6E;
$cinza-escurao: #1A1A1A;



